@model IEnumerable<HhcTst.Models.Zone>

@{
    ViewBag.Title = "Hhc";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h2>Zones</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ZoneName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACTIVE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ZoneName)
                </td>
                <td>
                    @{if (item.ACTIVE == "y")
                    {
                        @Html.Label("Active")
                        @*@Html.DisplayFor(modelItem => item.ACTIVE)*@
                    }
                    else if (item.ACTIVE == "n")
                    {
                        @Html.Label("DeActive")
                    }

                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ZoneID }) |
                    @*@Html.ActionLink("Details", "Details", "Zones", new { id = item.ZoneID}) |*@
                    @{if (item.ACTIVE == "y")
                    {

                        //var v= (item.ACTIVE="n");
                        @Html.ActionLink("DeActivate", "Active", new { id = item.ZoneID })


                    }

                    else
                    {
                        @Html.ActionLink("Activate", "Active", new { id = item.ZoneID })
                    }
                    }
                </td>
            </tr>
        }

    </table>

