@model HhcTst.Models.Stockist

@{
    ViewBag.Title = "ProfilePage";
    Layout = "~/Views/Shared/StockistLayout.cshtml";
}

<h2>ProfilePage</h2>

<div>
    <h4>Stockist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StockistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockistName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StockistId })
     |    @Html.ActionLink("Back to List", "Index")
</p>
