@model IEnumerable<HhcTst.Models.hhcAdminLogin>

@{
    ViewBag.Title = "Hhc";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h2>Admins</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPwd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Permissions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.CreatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPwd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Permissions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailID)
        </td>
        <td>
            @{if (item.ActiveStatus == "y")
            {
                @Html.Label("Active", new { @style = "color:blue" })
                @*@Html.DisplayFor(modelItem => item.ACTIVE)*@
            }
            else if (item.ActiveStatus == "n")
            {
                @Html.Label("DeActive", new { @style = "color:red" })
            }

            }
            @*@Html.DisplayFor(modelItem => item.ActiveStatus)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.CreatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.hhcAdminLoginsId }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.hhcAdminLoginsId }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.hhcAdminLoginsId })*@

            @{if (item.ActiveStatus == "y")
            {

                //var v= (item.ACTIVE="n");
                @Html.ActionLink("DeActivate", "Active", new { id = item.hhcAdminLoginsId })


            }

            else
            {
                @Html.ActionLink("Activate", "Active", new { id = item.hhcAdminLoginsId })
            }
            }
        </td>
    </tr>
}

</table>
