@model IEnumerable<HhcTst.Models.Stockist>

@{
    ViewBag.Title = "Hhc";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h2>Stockists</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StockistName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.ACTIVE)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.CreatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StockistName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @{if (item.ACTIVE == "y")
            {
                @Html.Label("Active")
                @*@Html.DisplayFor(modelItem => item.ACTIVE)*@
            }
            else if (item.ACTIVE == "n")
            {
                @Html.Label("DeActive")
            }

            }
            @*@Html.DisplayFor(modelItem => item.ACTIVE)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StockistId }) |
          @*  @Html.ActionLink("Details", "Details", new { id=item.StockistId }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.StockistId })*@
            @{if (item.ACTIVE == "y")
            {

                //var v= (item.ACTIVE="n");
                @Html.ActionLink("DeActivate", "Active", new { id = item.StockistId })


            }

            else
            {
                @Html.ActionLink("Activate", "Active", new { id = item.StockistId })
            }
            }
        </td>
    </tr>
}

</table>
