<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
        @RenderSection("head", required: false)

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <style>
        .navbar-brand {  
  float: left;  
  padding: 15px 15px;  
  font-size: 40px;  
  line-height: 20px;  
  font-family:'Facebook Letter Faces'  
}  
    </style>
</head>
<body style="background-color:ghostwhite">
    <div>
        @*@Html.ActionLink("Admin Page", "AdminDashboard", "Admin", new { area = "" }, new { @class = "navbar-brand" })*@
        <a href='@Url.Action("AdminDashboard", "Admin")'>
            <img src='@Url.Content("~/Content/Images/HhcLogo.png")' />
        </a>
    </div>
    <div class="ui-menu-icon">
        @Html.ActionLink("Manage-Zones", "Index", "Zones")
        @Html.ActionLink("Manage-States", "Index", "STATEs")
        @Html.ActionLink("Manage-Cities", "Index", "CITies")
        @Html.ActionLink("Manage-SubArea", "Index", "SubArea")
        @Html.ActionLink("View-Admins", "Index", "hhcAdminlogins")
        @Html.ActionLink("Manage-Stockist", "Index", "Stockists")
        @Html.ActionLink("Manage-Stockist-Upload", "UploadExcel", "test1")
        @Html.ActionLink("LogOut","LogOut","Admin")
        @RenderBody()
    </div>
    @section RightSection{
        <h1>This is in right part of display</h1>
    }
    @section LeftSection{
        <p>left part here</p>
    }
    <footer class="panel-footer">
        @RenderSection("footer", false)
    </footer>
</body>

</html>
