<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
        @RenderSection("head", required: false)
</head>
<body>
    <div>
        @*@Html.ActionLink("Admin Page", "AdminDashboard", "Admin", new { area = "" }, new { @class = "navbar-brand" })*@
        <a href='@Url.Action("AdminDashboard", "Admin")'>
            <img src='@Url.Content("~/Content/Images/HhcLogo.png")' />
        </a>
    </div>
    <div class="glyphicon-tree-deciduous">
        @Html.ActionLink("Manage-Zones", "Index", "Zones")
        @Html.ActionLink("Manage-States", "Index", "STATEs")
        @Html.ActionLink("Manage-Cities", "Index", "CITies")
        @Html.ActionLink("Manage-SubArea", "Index", "subareaCITies")
        @Html.ActionLink("View-Admins", "Index", "hhcAdminlogins")
        @Html.ActionLink("Manage-Stockist", "Index", "Stockists")
        @Html.ActionLink("Manage-Stockist-Upload", "Index", "ImportExport")
        @Html.ActionLink("LogOut","LogOut","Admin")
        @RenderBody()
    </div>
    @section RightSection{
        <h1>This is in right part of display</h1>
    }
    @section LeftSection{
        <p>footer here</p>
    }
    <footer class="panel-footer">
        @RenderSection("footer", false)
    </footer>
</body>

</html>
