<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
        @RenderSection("head", required: false)
</head>
<body>
    <div>
        @*@Html.ActionLink("Admin Page", "AdminDashboard", "Admin", new { area = "" }, new { @class = "navbar-brand" })*@
        <a href='@Url.Action("AdminDashboard", "Admin")'>
            <img src='@Url.Content("~/Content/Images/HhcLogo.png")' />
        </a>
    </div>
   
   
    <div>
        @Html.ActionLink("ViewAdmins", "Index", "Admins")
        @Html.ActionLink("View-Stockist","Index","Stockists")
        @Html.ActionLink("Stockist-Upload", "UploadExcel", "Admins")
        @Html.ActionLink("View Zones", "Index", "COUNTRies")
        @Html.ActionLink("View States","Index","STATEs")
        @Html.ActionLink("LogOut","LogOut","Admin")
        @RenderBody()
    </div>
    @section RightSection{
        <h1>This is in right part of display</h1>
    }
    @section LeftSection{
        <p>footer here</p>
    }
    <footer class="panel-footer">
        @RenderSection("footer", false)
    </footer>
</body>

</html>
