@model IEnumerable<HhcTst.Models.CITy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Cities</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CITYNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATEID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CITYNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATEID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CITYID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CITYID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CITYID })
        </td>
    </tr>
}

</table>
