@model IEnumerable<HhcTst.Models.subareaCITy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Manage SubAreas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.subareaCITYNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CITYID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subareaCITYNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CITYID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.subareaCITYID }) |
            @Html.ActionLink("Details", "Details", new { id=item.subareaCITYID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.subareaCITYID })
        </td>
    </tr>
}

</table>
