@model IEnumerable<HhcTst.Models.STATE>
@{
    ViewBag.Title = "Hhc";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}<h2 style="color:blue">States</h2>
@*<script src="~/Scripts/angular.js"></script>*@
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
<script type="text/javascript">
    var app = angular.module('MyApp', [])
    app.controller('MyController', function ($scope, $http, $window) {
        $scope.LoadDropDown = function (type, value) {
            switch (type) {
                default:
                    $scope.SelectedZoneId = 0;
                    $scope.ZoneDefaultLabel = "Loading.....";
                    $scope.Zones = null;
                    break;
                case "ZoneId":
                    $scope.SelectedStateId = 0;
                    $scope.StateDefaultLabel = "Loading.....";
                    $scope.CityDefaultLabel = "";
                    $scope.States = null;
                    $scope.Cities = null;
                    break;
                case "STATEID":
                    $scope.SelectedCityId = 0;
                    $scope.CityDefaultLabel = "Loading.....";
                    $scope.Cities = null;
                    break;
            }
            $http({
                method: "POST",
                url: "/States/AjaxMethod",
                dataType: 'json',
                data: '{type: "' + type + '", value: ' + value + '}',
                headers: { "Content-Type": "application/json" }
            }).success(function (data, status) {
                switch (type) {
                    default:
                        $scope.ZoneDefaultLabel = "Select Zone";
                        $scope.Zones = data;
                        break;
                    case "ZoneId":
                        $scope.StateDefaultLabel = "";
                        if (data.length > 0) {

                            $scope.StateDefaultLabel = "Select State";
                            $scope.States = data;
                        }
                        break;
                    case "STATEID":
                        $scope.CityDefaultLabel = "";
                        if (data.length > 0) {
                            $scope.Cities = data;
                            $scope.CityDefaultLabel = "Select City";
                        }
                        break;
                }
            }).error(function (data, status) {
                $window.alert(data.Message);
            });
        };
        $scope.LoadDropDown('', 0);
    });
</script>
<div ng-app="MyApp" ng-controller="MyController">
    <table style="align-items:flex-start">
        <tr>
            <td>Zone:</td>
            <td>
                <select name="Zone" ng-model="SelectedZoneId" ng-change="LoadDropDown('ZoneId', SelectedZoneId)" style="list-style:hanging">
                    <option value="0">{{ZoneDefaultLabel}}</option>
                    <option ng-repeat="item in Zones" value="{{item.Value}}">
                        {{item.Text}}
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr style="position:inherit">
            <td>State:</td>
            <td>
                <select name="State" ng-model="SelectedStateId" ng-change="LoadDropDown('STATEID', SelectedStateId)" style="list-style:hanging">
                    <option value=" 0">{{StateDefaultLabel}}</option>
                    <option ng-repeat="item in States" value="{{item.Value}}">
                        {{item.Text}}
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>City:</td>
            <td>
                <select name="City">
                    <option value="0">{{CityDefaultLabel}}</option>
                    <option ng-repeat="item in Cities" value="{{item.Value}}">
                        {{item.Text}}
                    </option>
                </select>
            </td>
        </tr>
    </table>
</div>


<p>
    
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-hover">
    @*<tr>
        <td class="text-danger"> </td>
        <td>
        </td>
    </tr>*@
    <tr style="background-color:lightblue">
        <th>
            @Html.DisplayNameFor(model => model.STATENAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zone1.ZoneName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.CreatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="color:green">
        <td>
            @Html.DisplayFor(modelItem => item.STATENAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zone1.ZoneName)
        </td>
        <td>
            @{if (item.ACTIVE == "y")
            {
                @Html.Label("Active", new { @style = "color:blue" })
                @*@Html.DisplayFor(modelItem => item.ACTIVE)*@
            }
            else if (item.ACTIVE == "n")
            {
                @Html.Label("DeActive", new { @style = "color:red" })
            }

            }
            @*@Html.DisplayFor(modelItem => item.ACTIVE)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.CreatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.STATEID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.STATEID }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.STATEID })*@
            @{if (item.ACTIVE == "y")
            {
                //var v= (item.ACTIVE="n");
                @Html.ActionLink("DeActivate", "Active", new { id = item.STATEID }, new { @style="color:red" })


            }

            else
            {
                @Html.ActionLink("Activate", "Active", new { id = item.STATEID }, new { @style = "color:blue" })
            }
            }
        </td>
    </tr>
}

</table>
