@model IEnumerable<HhcTst.Models.STATE>

@{
    ViewBag.Title = "Hhc";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>States</h2>
<p> Populating With Database and EF</p>
@Html.DropDownList("Zones", (SelectList)ViewBag.Zones)

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-danger">
    <tr>
        <td class="text-danger"> </td>
        <td>
          
        </td>
    </tr>
    
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.STATENAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zone1.ZoneName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.CreatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.STATENAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zone1.ZoneName)
        </td>
        <td>
            @{if (item.ACTIVE == "y")
            {
                @Html.Label("Active")
                @*@Html.DisplayFor(modelItem => item.ACTIVE)*@
            }
            else if (item.ACTIVE == "n")
            {
                @Html.Label("DeActive")
            }

            }
            @*@Html.DisplayFor(modelItem => item.ACTIVE)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.CreatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.STATEID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.STATEID }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.STATEID })*@
            @{if (item.ACTIVE == "y")
            {

                //var v= (item.ACTIVE="n");
                @Html.ActionLink("DeActivate", "Active", new { id = item.STATEID })


            }

            else
            {
                @Html.ActionLink("Activate", "Active", new { id = item.STATEID })
            }
            }
        </td>
    </tr>
}

</table>
