@model IEnumerable<HhcTst.Models.SubArea>

@{
    ViewBag.Title = "Hhc";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Manage SubAreas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubArea1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CITy.CITYNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubArea1)
        </td>
        <td>
         @*   @Html.LabelFor("set from ctrl",ViewBag.cityName)*@
            @Html.DisplayFor(modelItem => item.CITy.CITYNAME)
        </td>
        <td>
            @{if (item.ACTIVE == "y")
            {
                @Html.Label("Active")
                @*@Html.DisplayFor(modelItem => item.ACTIVE)*@
            }
            else if (item.ACTIVE == "n")
            {
                @Html.Label("DeActive")
            }

            }
            @*@Html.DisplayFor(modelItem => item.ACTIVE)*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubAreaID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.SubAreaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubAreaID })*@
            @{if (item.ACTIVE == "y")
            {

                //var v= (item.ACTIVE="n");
                @Html.ActionLink("DeActivate", "Active", new { id = item.SubAreaID })


            }

            else
            {
                @Html.ActionLink("Activate", "Active", new { id = item.SubAreaID })
            }
            }
        </td>
    </tr>
}

</table>
